<section class="bg-fondolight flex flex-row mx-auto px-20">
    <div class="w-1/2 p-20">
      <h2 class="font-bold text-3xl mb-4">Acerca de Nosotros</h2>
      <p class="mb-8 text-lg">
        En Enero del 2009 nos constituimos como empresa solida, desde el inicio de
        sus operaciones CORPORACION ANDI se siente un socio estratégico de sus
        clientes, estamos en una constante mejora para garantizar altos niveles de
        producividad y ofrecer un servicio confiable.
      </p>
      <a
        href="/nosotros"
        class="border rounded-md px-8 py-3 border-logoGreen bg-logoGreen text-fondolight uppercase font-medium"
        >Leer más</a
      >
    </div>
    <div class="w-1/2">
      <img src="/public/nosotros/carro-2.png" alt="" class="mx-auto max-w-full" />
    </div>
  </section>
  