<section class="hero flex flexcol items-center w-full h-auto bottom-0">
  <div class="view flex flex-col w-1/ justify-center items-center">
    <h1 class="text-pretty text-5xl w-3/4 text-center text-fondolight font-semibold">
      Comprometidos con la seguridad y la carga
    </h1>
  </div>|
  <div class="w-1/2 h-5/6">
    <img src="./Hero/Hero.png" alt="hero" />
  </div>
</section>

<style>
  .hero {
    background-image: url("./Hero/banner_1.jpg");
    background-size: cover;
    background-position: center;
  }
  .view {
    height: 70vh;
  }
</style>
