<section class="hero flex flexcol items-center w-full h-auto bottom-0">
  <div class="flex flex-col h-2/4 justify-center place-items-end gap-y-10">
    <div class="border-b-8 w-3/4 border-b-logoGreen">
      <h1 class="text-left text-5xl font-bold text-fondolight py-4">
        Comprometidos con la seguridad y la carga
      </h1>
    </div>
    <div class="w-3/4">
      <a
        href="/contacto"
        class="text-2xl border rounded-lg text-fondolight p-3 uppercase"
        >Contáctenos</a
      >
    </div>
  </div>|

  <div >
    <img src="./Hero/Hero.png" alt="hero" class="" />
  </div>
</section>

<style>
  .hero {
    background-image: url("./Hero/banner_1.jpg");
    background-size: cover;
    background-position: center;
  }
  .view {
    height: 70vh;
  }
</style>
